 <head>
	<title>Oldenburg Guide</title>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>

	<span onclick="openNav()">open</span>

	<div id="mySidebar" class="sidebar">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#">Element 1</a>
		<a href="#">Element 2</a>
		<a href="#">Element 3</a>
		<a href="#">Element 4</a>
	</div>

	<div id='map'></div>



	<script src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
	<script src="../scripts/app.js"></script>
</body>
