body {
  margin: 0;
  padding: 0;
}

.sidebar {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #5F6F87;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  border-right: 2px solid rgba(0, 0, 0, 0.25);
}


.sidebar h1 {
  position: relative;
  margin-left: 1em;
  color: #2C302E;
  font-weight: 300;
  font-size: 2.5em;
}

.sidebar .filter input{
  width: 80%;
  height: 2em;
  margin-bottom: 15px;
  margin-left: 32px;
	border:2px solid rgba(255,255,255,.5);
	color:rgba(244,241,187,.5);
	border-radius:.25em;
	background:transparent;
}

.filter input:focus{
		outline:none;
		color:rgba(255,255,255,.75);
		border-color:rgba(255,255,255,.75);
}

::placeholder {
  color: white;
}

.sidebar a {
  font-weight : 400;
  font-size: 1.5em;
  padding: 10px 8px 8px 32px;
  color: #F4F1BB;
  display: block;
  transition: 0.3s;
}

.address {
  padding: 2px 8px 8px 32px;
  font-weight: 300;
  font-style: italic;
}

.sidebar .closebtn {
  position: absolute;
  top: 1px;
  right: 25px;
  margin-left: 50px;
  color: #ED6A5A!important;
  text-decoration: none;
}

.showbtn-left {
  position: absolute;
  top: 45%;
  left: 25px;
  z-index: 1;
  color: #ED6A5A !important;
  font-size: 1.5rem;
  transition: 0.5s;
}

.showbtn-right {
  position: absolute;
  top: 45%;
  left: 250px;
  z-index: 1;
  color: grey !important;
  font-size: 1.5rem;
  opacity: 0;
  transition: 0.5s;
}

.showbtn-hide {
  display: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* ----------------------------------- SIDEBAR STYLING DEFAULT ------------ */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/* POPU MARKERS */

.mapboxgl-popup-close-button {
  font-size: 25px;
  color: #ED6A5A;
  position: absolute;
  margin: 0;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Lato', sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #5F6F87;
  color: #fff;
  margin: 0;
  padding: 16px 22px 16px 16px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 300;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #5F6F87;
}
